<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Music_Player.Properties.Settings.Database1ConnectionString"
            connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source=|DataDirectory|\Database1.accdb"
            providerName="System.Data.OleDb" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="apiv1Soap" />
            </basicHttpBinding>
            <customBinding>
                <binding name="apiv1Soap12">
                    <textMessageEncoding messageVersion="Soap12" />
                    <httpTransport />
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://api.chartlyrics.com/apiv1.asmx" binding="basicHttpBinding"
                bindingConfiguration="apiv1Soap" contract="ChatLyrics.apiv1Soap"
                name="apiv1Soap" />
            <endpoint address="http://api.chartlyrics.com/apiv1.asmx" binding="customBinding"
                bindingConfiguration="apiv1Soap12" contract="ChatLyrics.apiv1Soap"
                name="apiv1Soap12" />
        </client>
    </system.serviceModel>
</configuration>